.header {
  position: relative;
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
}
.homepage-container {
  min-height: 100vh;
}
.header-container {
  max-width: 80rem;
  margin-right: auto;
  margin-left: auto;
  padding-right: 2rem;
  padding-left: 2rem;
}
.content-flx-center {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}
.joblist-label.is-purple {
  margin-right: 0;
  margin-bottom: 2rem;
  padding: 0.25rem 0.625rem 0.25em;
  border-radius: 1.5em;
  background-color: #a259ff;
  color: #fcfbf7;
  font-weight: 500;
  position: relative;
  display: inline-block;
  letter-spacing: 0.025em;
  text-transform: uppercase;
  float: left;
  font-size: 0.7rem;
}
.heading-h1 {
  max-width: 20ch;
  margin-bottom: 1.75rem;
  font-family: "Oldschool Grotesk", sans-serif;
  font-size: 2.5rem;
  line-height: 1.25;
  font-weight: 500;
  letter-spacing: -0.005em;
}
.yellow-underline {
  font-weight: 700;
}
.section {
  position: relative;
  overflow: visible;
  padding-top: 4rem;
  padding-bottom: 4rem;
  -webkit-box-flex: 1;
  flex: 1;
}

.homepage-list-container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 2rem;
  padding-left: 2rem;
  max-width: 57rem;
}

.filters-w {
  display: flex;
  margin-right: -1rem;
  margin-left: -1rem;
  -webkit-box-pack: justify;
  justify-content: space-between;
}
.filter-w-first {
  display: flex;
  position: relative;
  z-index: 50;
  padding: 0.5rem 1rem;
  text-decoration: none;
}
.filter-w-second {
  display: flex;
  justify-content: center;
  align-items: center;
}
.area-filter {
  display: flex;
  align-items: center;
  margin-right: 7px;
}
.filter-label {
  display: inline;
  margin-right: 0.375em;
  color: #686665;
  font-size: 1.0625rem;
  font-weight: 500;
}
.filter-selector {
  background: transparent;
  width: 100px;
  padding: 0.3rem;
  border-radius: 4px;
  font-size: 1rem;
  margin-right: 5px;
}
.reset-btn {
  background-color: #fcfbf7;
  color: #292828;
  padding-top: 0.925em;
  padding-bottom: 0.875em;
  font-size: 0.8125rem;
  font-weight: 600;
}
@media screen and (max-width: 768px) {
  .filters-w {
    flex-direction: column;
  }
  .filter-w-first {
    justify-content: center;
    margin-bottom: 1rem;
  }
  .filter-w-second {
    display: flex;
    justify-content: center;
  }
}
@media screen and (max-width: 479px) {
  .filter-w-first {
    align-items: center;
    flex-direction: column;
  }
  .area-filter {
    margin-bottom: 1rem;
  }
  .homepage-container {
    min-height: 125vh;
  }
}
